
  body {
    background: #ecf0f300;
  }
  h1 {
    margin: 0;
    padding: 0;
    color: #0f61ed;
    text-align: center;
  }

  p {
    text-align: center;
  }
  
  .custom-form {
    min-width: 300px;
    max-width: 30%;
    min-height: 400px;
    max-height: 40%;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 3rem;
    margin: auto;
    border-radius: 2.5rem;
    background-color: #ecf0f3;
    margin-top: 10rem;
  }
  .custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1;
    background: #ffffff;
  }
  .entrar {
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #1c3cf6;
    width: 40%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: auto;
  }
  .cerrar {
    border: none;
  }
  