
  
 .login {
background-color: gray;
 }
  h2 {
    margin: 0;
    padding: 0;
    color: #0f61ed;
    text-align: center;
    bold: normal;
  }

  p {
    text-align: center;
    font-size: 12px;
  }
  
  
  .custom-form {
    width: 350px;
    height: 350px;
    background: rgb(255, 255, 255);
    padding: 1rem 1rem;
    margin: auto;
    border-radius: 0.5rem;
    margin-top: 10rem;
  }
  .custom-form input {
    display: block;
    margin: 1rem 0;
    width: 220px;
    height: 28px;
    border-radius: 0.2rem;
    border: 1px solid;
    border-color: rgb(141, 141, 141);
    background: #ffffff;
    margin-left: 60px;
  }
  .entrar {
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #1c3cf6;
    width: 35%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: auto;
  }
  .cerrar {
    border: none;
    float: right;
    background-color: transparent;
  }

  .link {
    color:#0f61ed;
  }

  .reg {
    font-size: 15px;
    color:#0f61ed;
  }
  