<div class="login">
  <br>
    <form class="custom-form" method="post">
      <button type = "button" class="cerrar" (click)="closeLogin()">X</button>
      <br>
      <h2>Iniciar sesión</h2>
      <br>
      <input
        type="email"
        name="email"
        placeholder="Correo electrónico"
        required="required"
      />
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        required="required"
      />
      <p class="link">¿Has olvidado tu contraseña?</p>
      <br>
      <button type="submit" class="entrar" (click)="login()">Entrar</button>
      <p>¿No tienes una cuenta?</p>
      <p class="reg">Regístrate</p>
    </form>
    <br>
  </div>
  
