
.navbar{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: rgb(250, 250, 250);
  padding-left: 10%;
  padding-right: 10%;
}
.navbar a:hover {
  background-color: white;
    color: black;
  }
.easy{
    color: #1C9AEE;
    display: inline;
    font-size:30px;
}
.travel{
    color: #1C9AEE;
    display: inline;
    font-weight:bold;
    font-size:30px;
}
.imagenEX{
  width: 200px;
}



.botonLogin {
  background-color:  #4063a9;
  color:white;
  width: 95px;
  height: 32px;
  margin-left: 64.7%;
  transition-duration: 0.4s;
  border: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}



.botonLogin:hover {
  background-color: white;
  color: #aeecf2;
  }
