<!DOCTYPE html>
<html class="fondo">
        <img class="logo" src="\assets\images/LOGO_BLANCO.png" (click)="volverInicio()"/>
        <nav class="filters-wrapper">
        <form [formGroup]="miFormulario">    
            <ul class="filter-tabs prueba borde">
                <li class="filter-button filter-active">
                <div class="borde">
                <p class="leyenda">Origen</p>
                <select class="botones origen" formControlName="Origen">
                    <!--<option disabled selected>Origen</option>-->     
                    <option value="MAD">Madrid</option><option value="BCN">Barcelona</option><option value="AGP">Malaga</option><option value="ALC">Alicante</option><option value="SVQ">Sevilla</option><option value="VLC">Valencia</option>
                </select>
                </div>
                </li>
                <li><div class="separador"></div></li>
                <li>
                <div class="filter-button filter-active nivelarP">
                    <p class="leyenda">Presupuesto</p>
                    <input formControlName="Presupuesto" class="botones presupuesto" onClick="this.setSelectionRange(0, this.value.length)">
                </div>
                </li>
                <li><div class="separador"></div></li>
                <li  class="filter-button filter-active">
                <div class="call">
                    <p class="leyenda">Fecha ida</p>
                    <input type="date" formControlName="fechaS"  class="botones calendario" min="2022-12-14" max="2025-12-31" placeholder="Fecha ida">
                </div>
                </li>
                <li><div class="separador"></div></li>
                <li class="filter-button filter-active call">
                <div class="call">
                    <p class="leyenda">Fecha vuelta</p>
                    <input type="date" formControlName="fechaV" class="botones calendario" min="2022-12-14" max="2025-12-31" placeholder="Fecha ida">
                </div>
                </li>
                <li><div class="separador"></div></li>
                <li  class="filter-button filter-active">
                <div class="call">
                    <button class="botones buscar btn-3" (click)="enviardatos()" ><span>Buscar</span></button>
                </div>
                </li>
            </ul>
        </form> 
        </nav>
    <div class="filtros" *ngIf="modalSwitch1">
        <div class="fondo2">
            <section class="cards1">
            <article class="card card--1">
                <div class="pequeña">   
                <div  class="card__img"></div>
                    <a href="#" class="card_link">
                <div class="card__img--hover"></div>
                </a>
                </div> 
            </article>
            <div class="card__info">
                <h3 class="card__title">Venecia</h3>
                <span class="card__by">Desde <a href="#" class="card__author" title="author">300€</a></span>
                <h3 class="card__category"> Precio por persona</h3>
            </div>
        </section>
        <section class="cards">
            <article class="card card--2">
            <div class="pequeña">   
                <div  class="card__img"></div>
                <a href="#" class="card_link">
                <div class="card__img--hover"></div>
                </a>
                </div> 
            </article>
            <div class="card__info">
            <h3 class="card__title">Paris</h3>
            <span class="card__by">Desde <a href="#" class="card__author" title="author">170€</a></span>
            <h3 class="card__category"> Precio por persona</h3>
            </div>
        </section>
        <section class="cards3">
            <article class="card card--3">
            <div class="pequeña">   
                <div  class="card__img"></div>
                <a href="#" class="card_link">
                <div class="card__img--hover"></div>
                </a>
                </div> 
            </article>
            <div class="card__info">
            <h3 class="card__title">Estocolmo</h3>
            <span class="card__by">Desde <a href="#" class="card__author" title="author">400€</a></span>
            <h3 class="card__category"> Precio por persona</h3>
            </div>
        </section>
        </div>
        <div class="fondo2">
            <section class="cards1">
            <article class="card card--4">
                <div class="pequeña">   
                <div  class="card__img"></div>
                    <a href="#" class="card_link">
                <div class="card__img--hover"></div>
                </a>
                </div> 
            </article>
            <div class="card__info">
                <h3 class="card__title">Amsterdan</h3>
                <span class="card__by">Desde <a href="#" class="card__author" title="author">195€</a></span>
                <h3 class="card__category"> Precio por persona</h3>
            </div>
        </section>
        <section class="cards">
            <article class="card card--5">
            <div class="pequeña">   
                <div  class="card__img"></div>
                <a href="#" class="card_link">
                <div class="card__img--hover"></div>
                </a>
                </div> 
            </article>
            <div class="card__info">
            <h3 class="card__title">Tokio</h3>
            <span class="card__by">Desde <a href="#" class="card__author" title="author">500€</a></span>
            <h3 class="card__category"> Precio por persona</h3>
            </div>
        </section>
        <section class="cards3">
            <article class="card card--6">
            <div class="pequeña">   
                <div  class="card__img"></div>
                <a href="#" class="card_link">
                <div class="card__img--hover"></div>
                </a>
                </div> 
            </article>
            <div class="card__info">
            <h3 class="card__title">Londres</h3>
            <span class="card__by">Desde <a href="#" class="card__author" title="author">280€</a></span>
            <h3 class="card__category"> Precio por persona</h3>
            </div>
        </section>
        </div>
    </div>  
    <div class="general2">
        <div *ngIf="modalSwitch2" class="viajesN">
            <div *ngFor="let element of resultados" class="ngf">
                <div class="viaje1N">
                    <img src="{{element.foto}}" (click)="datosViaje(element.origen, element.destino, element.duracionIda, element.duracionVuelta, 
                    element.habitacion, element.hotelNombre, element.llegadaIda, element.llegadaVuelta, element.precioHotel, element.precioIda, 
                    element.precioTotal, element.precioVuelta, element.salidaIda, element.salidaVuelta,element.foto)" alt="Venecia"
                        class="imageViaje">
                    <div class="textViaje">
                        <p class="tituloViaje2">{{element.destino}}</p>
                        <p class="precioViaje2">Desde <span class="red">{{element.precioTotal}}€</span></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="datosViaje" *ngIf="modalSwitch3">
            <img class="imagenDatos" src="{{foto}}" />
            <div>
                <h1 class="tituloViajeCompra" style="display: inline;">Datos del viaje a {{ destino }}</h1>
                <img style="float:right; width: 20px; height: 20px;" (click)="volverInicio()" src="\assets\images\eliminar.png" />
            </div>
            
            <div>
                <h3 class="inline">Ida</h3>
                <p class="fecha"> {{ salidaIda }} </p>
                <h4 class="precio">{{ precioIda }} €</h4>
            </div>
            <div>
                <img class="imagenTiempo" src="\assets\images\airplane-flying.png" />
                <img class="imagenLinea" src="\assets\images\linea.png" />
                <img class="imagenTiempo" src="\assets\images\airplane-flying.png" />
            </div>
            <div>
                <p class="aeropuertoI"> Aeropuerto de {{ origen }} </p>
                <p class="inline" style="margin-left: 40px;"> Duración: {{ duracionIda }} </p>
                <p class="aeropuertoD"> Aeropuerto de {{ destino }} </p>
            </div>

            <img class="imagenLineaGris" src="\assets\images\lineaGris.png" />

            <div>
                <h3 class="inline">Vuelta</h3>
                <p class="fecha"> {{ salidaVuelta }} </p>
                <h4 class="precio">{{ precioVuelta }} €</h4>
            </div>
            <div>
                <img class="imagenTiempo" src="\assets\images\airplane-flying.png" />
                <img class="imagenLinea" src="\assets\images\linea.png" />
                <img class="imagenTiempo" src="\assets\images\airplane-flying.png" />
            </div>
            <div>
                <p class="aeropuertoI"> Aeropuerto de {{ destino }} </p>
                <p class="inline"> Duración: {{ duracionVuelta }} </p>
                <p class="aeropuertoD"> Aeropuerto de {{ origen }} </p>
            </div>

            <div class="fondoHotel">
                <div>
                    <h3 class="tituloHotel">{{ hotelNombre }}</h3>
                    <h4 class="precio">{{ precioHotel }} €</h4>
                </div>
                <div style="width: 100%;">
                    <h3 class="precioTotal"><b> Total {{ precioTotal }} € </b></h3>
                </div>
            </div>

            <button class="botonComprar" (click)="compraViaje()"> Comprar </button>
        </div>

        <div class="datosViaje" *ngIf="modalSwitch4">
            <img style="float:right; width: 20px; height: 20px;" (click)="volverInicio()" src="\assets\images\eliminar.png" />
            <div>
                <img class="imagenDatos" src="{{foto}}" />
                <h1 class="tituloViajeCompra">Empieza la reserva!</h1>
                <div>
                    <h3 class="inline">Pasajero {{ numPasajeros }}</h3>
                    <p class="fecha"> Adulto </p> <button type="reset" id="limpiar" class="anyadir"
                        (click)="anyadirPasajero()">+ Añadir</button>
                    <img class="imagenLineaGris" src="\assets\images\lineaGris.png" />
                </div>


                <form name="formulPasajeros" method="post">
                    <div>
                        <label class="formPasajero" for="titulo">Sr / Sra / Srta</label>
                        <label class="formPasajero" for="nombre" style="margin-left: 36px;">Nombre</label>
                        <label class="formPasajero" for="apellidos" style="margin-left: 157px;">Apellidos</label>
                    </div>
                    <div>
                        <select class="inputPasajero" required>
                            <option value="none">Ninguno</option>
                            <option value="Sr">Sr</option>
                            <option value="Sra">Sra</option>
                            <option value="Srta">Srta</option>
                        </select>
                        <input class="inputPasajero" type="text" id="nombre" name="nombre"
                            style="width: 150px; margin-left: 50px;" required>
                        <input class="inputPasajero" type="text" id="apellidos" name="apellidos"
                            style="width: 280px; margin-left: 50px;" required>
                    </div>
                    <div>
                        <label class="formPasajero" for="fechaNacimiento">Fecha de nacimiento</label>
                        <label class="formPasajero" for="dni" style="margin-left: 32px;">DNI</label>
                        <label class="formPasajero" for="nacionalidad" style="margin-left: 204px;">Nacionalidad</label>
                    </div>

                    <div>
                        <input class="inputPasajero" type="date" id="fechaNacimiento" name="fechaNacimiento"
                            max="2025-12-31">
                        <input class="inputPasajero" type="text" id="dni" name="dni" style="margin-left: 70px;" required>
                        <input class="inputPasajero" type="text" id="nacionalidad" name="nacionalidad"
                            style="margin-left: 50px;" required>
                    </div>

                    <div>
                        <label class="formPasajero" for="direccion">Dirección</label>
                        <label class="formPasajero" for="codPostal" style="margin-left: 346px;">Código postal</label>
                    </div>

                    <div>
                        <input class="inputPasajero" type="text" id="direccion" name="direccion" style="width: 350px;"
                            required>
                        <input class="inputPasajero" type="text" id="codPostal" name="codPostal" style="margin-left: 50px;"
                            required>
                    </div>

                    <div>
                        <label class="formPasajero" for="email">E-mail</label>
                        <label class="formPasajero" for="telefono" style="margin-left: 265px;">Teléfono</label>
                    </div>

                    <div>
                        <input class="inputPasajero" type="text" id="email" name="email" style="width: 250px;" required>
                        <input class="inputPasajero" type="text" id="telefono" name="telefono" style="margin-left: 50px;"
                            required>
                    </div>
                </form>

                <!-- Falta aplicar la función para que acceda a la pasarela de pago -->
                <button class="botonComprar" (click)="realizarPago()"> Realizar pago </button>
            </div>

        </div>

        <div class="datosViaje" *ngIf="modalSwitch5">
            <img style="float:right; width: 20px; height: 20px;" (click)="volverInicio()" src="\assets\images\eliminar.png" />
            <div>
                <img class="imagenDatos" src="{{foto}}" />
                <h1 class="tituloViajeCompra">Pasarela de pago</h1>

                <form name="formulPasajeros" method="post">
                    <div>
                        <label class="formPasajero" for="nombre">Nombre del titular</label>
                    </div>
                    <div>
                        <input class="inputPasajero" type="text" id="nombre" name="nombre"
                            style="width: 150px;" required>
                    </div>
                    <div>
                        <label class="formPasajero" for="fechaExpiracion">Fecha de expiración</label>
                        <label class="formPasajero" for="cvc" style="margin-left: 32px;">CVC</label>
                    </div>

                    <div>
                        <input class="inputPasajero" type="date" id="fechaNacimiento" name="fechaNacimiento"
                            min="2022-11-07" max="2025-12-31">
                        <input class="inputPasajero" type="text" id="cvc" name="cvc" style="margin-left: 70px;" required>
                    </div>

                    <div>
                        <label class="formPasajero" for="numeroTarjeta">Número de la tarjeta</label>
                    </div>

                    <div>
                        <input class="inputPasajero" type="text" id="numeroTarjeta" name="numeroTarjeta" style="width: 350px;" required>
                    </div>
                </form>

                <!-- Falta aplicar la función para que acceda a la pasarela de pago -->
                <button class="botonComprar" (click)="volverInicio()"> Finalizar </button>
            </div>

        </div>
    </div>        
</html>