.general{
    margin-top: 100px;
}
.filtros{
    width: 100%;
    height: 80px;
    display: inline-block;
}
.fechas{
    width: 40%;
    height: 100%;
    left: auto;
    display: inline-block;
}
.despegables{
    display: inline-block;
    margin-top: 5px;
}
.desp{
    display: inline-block;
    margin-right: 5px;
}
.desp2{
    display: inline-block;
    margin-right: 5px;
}
.despegable{
    background-color: #aeecf2;
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 170px;
    height: 30px;
    text-align: center;
}
.presupuesto{
    width: 22%;
    height: 100%;
    display: inline-block;
    align:left;
    
}
.fEspeciales{
    width: 22%;
    height: 100%;
    display: inline-block;
    align:left;
    
}
.buscar{
    display: inline-block;
    align:left;
    width: 6%;
    height: 100%;
}

.botonBuscar {
    background-color: #aeecf2;
    align:right;
    width: 90px;
    height: 20px;
    transition-duration: 0.4s;
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.botonBuscar:hover {
    background-color: white; /* Green */
    color: #aeecf2;
    
   
}