<div class="general">
    <div class="filtros">
        <div class="fechas">
            <div><p>Fechas de viaje</p></div>
            <div class="despegables">
                <div class="desp">
                    <input type="date" id="start" name="trip-start"
                    min="2022-11-07" max="2025-12-31" class="despegable">
                </div>
                <div class="desp2">
                    <input type="date"  name="trip-start"
                    min="2022-11-07" max="2025-12-31" class="despegable">
                </div>
            </div>
        </div>
        <div class="presupuesto">
            <div><p>Presupuesto</p></div>
            <div class="">
                <div class="desp">
                    <input type="text" value="500€" class="despegable">
                </div>
            </div>
        </div>
        <div class="fEspeciales">
            <div class="">
                <div class="desp">
                    <input type="text" value="500€" class="despegable">
                </div>
            </div>
        </div>
        <div class="buscar">
            <button class="botonBuscar">
                Buscar
            </button>
        </div>
    </div>
    <div class="viajes">

    </div>
    <p>Fer</p>
    <h1>sdsdds</h1>
</div>